<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- <form action="">
        <div>
            <label for="">Nombre</label><br>
            <input type="text">
        </div>
        <div>
            <label for="">Numero DNI</label><br>
            <input type="number" value="8">
        </div>
        <div>
            <label for="">Email</label><br>
            <input type="email">
        </div>
        <br>
        <div>
            <button type="submit">Enviar</button>            
        </div>
    </form> -->

    <ul>
        <li>item %</li>
        <li>item %</li>
        <li>item %</li>
        <li>item %</li>
        <li>item %</li>
    </ul>





</body>
</html>